<main class="container">
  <%=form_tag url_for(action: 'create'), method: 'post', class: "form-group" do %>

    <label for="email">Email</label>
    <%= text_field_tag 'email', "", class: "form-control" %>

    <label for="password">Mot de passe</label>
    <%= password_field_tag 'password', "", class: "form-control" %>


    <%= label_tag :remember_me, class: "checkbox inline" do %>
      <%= check_box_tag :remember_me %>
      <span>Se souvenir de moi</span>
    <% end %>


    <%= submit_tag "Connexion", class: "btn btn-primary" %>

  <% end %>
</main>
