<main class="container">
  <article class="card">
    <div class="card-body">
      <h2 class="card-title">Potin n° <%= @current_gossip.id %> de <%= link_to "#{@current_gossip.user.first_name}", user_path(@current_gossip.user.id) %></h2>
      <%= link_to "#{@current_gossip.user.city.name}", city_path(@current_gossip.user.city) %>
      <h3 class="card-subtitle mb-2 text-muted"><%= @current_gossip.title %></h3>
      <p class="card-text"><%= @current_gossip.content %></p>
      <p class="card-text"><em>Date de création : <%= @current_gossip.created_at.asctime %></em></p>
      <%= link_to "Modifier", edit_gossip_path(@current_gossip), :class => "btn btn-primary" %>
      <%= link_to 'Supprimer',  gossip_path(@current_gossip), data: { confirm: 'Es-tu sûr(e) ?' }, method: :delete, :class => "text-danger" %>
    </div>
  </article>
  <div class="container">
    <% @current_gossip.comments.each do |comment| %>
    <article class="card-body">
      <h3 class="card-title">Commentaire de <%= comment.user.first_name %></h3>
      <p class="card-text" =><%= comment.content %></p>
      <hr>
    </article>
    <% end %>
    <%= link_to "Commenter", new_gossip_comment_path(@current_gossip), :class => "btn btn-primary"%>
  </div>
</main>
