<h1>Potin n° <%= @current_gossip.id %> de <%= @current_gossip.user.first_name %></h1>
<h2><%= @current_gossip.title %></h2>
  <p><%= @current_gossip.content %></p>
  <p><em>Date de création : <%= @current_gossip.created_at %></em></p>
